@page "/"
@inject NavigationManager navManager

    <div style="text-align: center;">
        <button class="btn btn-primary" @onclick="Set">Set Draft</button>
        <br />
        <br />
        <button class="btn btn-primary" @onclick="Theme">Theme Draft</button>
    </div>
    @code
{
        public void Set()
        {
            navManager.NavigateTo(navManager.BaseUri + "/Set");
        }
        public void Theme()
        {
            navManager.NavigateTo(navManager.BaseUri + "/ThemeTribal");
        }
    }